/*base*/
body {
    background-color: var(--bg-color);
}

/*header*/
header{
    text-align: center;
}

.searches{
    display: none;
}

/* CSS Variables */
:root{
    --bg-color: rgb(255, 255, 255);
}
.written_content{
    margin-top: 120px;
}